################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CarSelector/bin/Debug/netcoreapp2.0
/CarSelector/obj
/CarSelector/Properties
